body{
    background-image: url("cb.jpg");
}

.navbar-nav{
    margin-left: 60%;
}
nav{
    position: fixed;
}

.nav-link:hover{
    cursor: pointer;
}
.navbar-brand{
    padding: 20px 10px;
}
.logo{
    height: 50px;
    width: 50px;
    margin-top:200% ;
}
.logo1{
    height: 50px;
    width: 50px;
    margin-top: 3px;
}
.nav-item{
    padding: 0px 14px;
}
.nav-link{
    font-weight: 500;
}

#body{
    width: 100%;
    min-height: 95vh;
    background-image: url("background.jpg");
}

#hell{
    text-align: center;
    padding-top: 15%;
    font-size: 4em;
    color: aliceblue;
}

.title{
    text-align: center;
    font-weight: 600;
    font-size: 3em
}

.what{
    display: flex;
    margin: 10px 30px;
    padding: 30px 9px;
    text-align: center;
    font-style: oblique;
    font-size: 1.4rem;
    align-items: center;
    font-weight: 500;
    color: aliceblue;
}

.pad-sec{
    padding: 90px 0;
}

#tit{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    text-align: center;
    width: 5%;
    margin-top: 3px;
    border-radius: 10px;
    display: inline-block;
    height: 7px;
    background-color: yellow;
}

#contactMeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    margin: 20px 0;
    font-size: 1.3rem;
    padding: 5px 30px;
}
.change{
    padding: 15px;
    background-color: #d3d3d3;
}

.known{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
}
.contact{
    background-color: #fff;
    margin: 0 90px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px gray;
}

.know{
    color: rgb(102, 102, 102);
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 1.8px;
}

.skills{
    background-color: #d3d3d3;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin-right: 10px;
}
.skills:hover{
    background-color: #d3d3d3;
    margin-top: 20px;
}

.about{
    display: flex;
    margin: 10px 30px;
    padding: 30px 9px;
    text-align: center;
    font-style: oblique;
    font-size: 1.4rem;
    align-items: center;
    font-weight: 500;
}


.scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {

    width: 3px;
    padding: 10px 15px;
    height: 35px;
    margin-top: 350%;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

.projectInfo{
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.projectH{
    font-size: 1.5rem;
    font-weight: 700;
}

.last{
    background-image: url("cb.jpg");
}
